@use "../abstracts/" as *;
/*=============== DELIVERY ===============*/
.delivery {
   .container {
      @include flex(flex-start, space-between, 0.5rem);
      background-color: $secondary-color;
      padding: 3rem 2.5rem;
      .image {
         width: 50%;
         order: 1;
      }
      .content {
         width: 50%;
         .title {
            color: $title-color;
            font-size: var(--biggest-font-size);
         }
         .text {
            color: $text-color;
            margin-block: 1.5rem;
            .sub-text {
               font-weight: $font-bold;
            }
         }
         .subscribe-form {
            @include flex(flex-start, space-between, 1rem);
            flex-direction: column;
            input[type="email"],
            input[type="number"] {
               padding: 0.8rem;
               border-radius: 0.3rem;
               width: 100%;
            }
            .subscribe-btn {
               width: 100%;
               margin: 0;
            }
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* MEDIUM SCREEN */
@media (max-width: 992px) {
   .delivery .container {
      flex-direction: column;
      gap: 3rem;
   }
   .delivery .container .image,
   .delivery .container .content {
      width: 100%;
   }
   .delivery .container .content {
      order: 2;
   }
}
/* EXTRA SMALL SCREEN */
@media (max-width: 576px) {
   .delivery .container {
      padding: 2rem 1.5rem;
      gap: 1.5rem;
   }
   .delivery .container .content .title {
      font-size: var(--h2-font-size);
   }
   .delivery .container .content .text {
      font-size: var(--normal-font-size);
   }
}
