@use "../abstracts/" as *;
/*=============== NOT FOUNDED PAGE ===============*/
.not-found-page {
   text-align: center;
   .not-found {
      color: $primary-color;
      font-size: var(--biggest-font-size);
   }
   img {
      width: 400px;
      margin-block: 4rem;
   }
}
