@use "../abstracts/" as *;
.shop {
   .container {
      @include flex(center, space-between);
      flex-wrap: wrap;
      .scroll-buttons {
         margin-bottom: 2.5rem;
         .left-arrow,
         .right-arrow {
            margin-right: 1rem;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
               rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            padding: 0.8rem;
            border-radius: 50%;
            color: $text-color;
            cursor: pointer;
            &:hover {
               background-color: $primary-color;
               color: #fff;
            }
         }
      }
      .cover {
         position: relative;
         overflow-x: auto;
         margin-bottom: 3rem;
         &::-webkit-scrollbar {
            width: 0;
         }
         .before,
         .after {
            position: absolute;
            top: 0;
            width: 50px;
            height: 100%;
            z-index: $z-tooltip;
            display: none;
         }
         .before {
            left: 0;
            background-image: linear-gradient(90deg, #fff, transparent);
         }
         .after {
            right: 0;
            background-image: linear-gradient(-90deg, #fff, transparent);
         }
         .categories {
            overflow-x: auto;
            position: relative;
            display: grid;
            grid-template-columns: repeat(5, 150px);
            grid-template-rows: 120px;
            gap: 1.5rem;
            width: 100%;
            cursor: pointer;
            scroll-behavior: smooth;
            padding: 0.5rem;
            &::-webkit-scrollbar {
               width: 0;
            }
            .box {
               @include flex(center, space-between, 1rem);
               flex-direction: column;
               text-align: center;
               padding: 1rem;
               border-radius: 1rem;
               transition: background 0.4s;
               svg {
                  font-size: 2rem;
                  color: $primary-color;
               }
               .category-name {
                  color: $title-color;
               }
               &:nth-child(1),
               &:nth-child(3),
               &:nth-child(5) {
                  background-color: $secondary-color;
               }
               &:nth-child(2),
               &:nth-child(4) {
                  background-color: $third-color;
               }
               &:hover,
               &.selected {
                  background-color: #fff;
                  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                     rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                     rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
               }
            }
         }
      }

      .products-list {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
         gap: 2rem;
         width: 100%;
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/*=============== SMALL ===============*/
@media (max-width: 576px) {
   .scroll-buttons {
      display: none;
   }
}
